.cardtxt {
    margin: 2% 2% 2% 2%;
    text-align: left;
    line-height: 20px;
    color: rgb(0, 0, 0);
    background-color: aquamarine;
    width: 100%;
    border: 2px solid rgb(228, 44, 20);
  }
.cardarea{
  margin-right: 50px;
}